!!! 5
%html
  / * Hey there! Interested in the source, huh?                               *
  / * But look, isn't that a wonderful sourcecode?                            *
  / * ======================================================================= *
  / * This Project is Open-Source, view it on GitHub!                         *
  / * https://github.com/max-scopp/msRubyServer                               *
  / * - max                                                                   *
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title Max Scopp &ndash; [[[@title]]]
    %link{:href => "self://styles/main.scss", :rel => "stylesheet"}/
  %body
    %header
      %h1 Max Scopp

      %nav
        %ul
          %li
            %a{:href => "self://"} Home
          %li
            %a{:href => "self://about"} About
          %li
            %a{:href => "self://posts"} Posts
          %li
            %a{:href => "self://imprint"} Imprint
