<basics/head.haml>
    %main
      .article-like-content
        %img{:src => "self://resources/self.jpg", :alt => "me as myself"}/
        .article-content
          %h1 Hi, I'm Max
          %b I code stuff on the Internet. &hellip;and this Server.

          %p
            I'm now with the Age of almost 18 and more than three years of
            programming-experience mainly targeted at HTML, LESS
            %span (a CSS Preprocessor)
            and jQuery with my job at
            %a{:href => "http://www.artundweise.de/"} artundweise GmbH.
          %p
            I also fell in love with Python, Ruby and
            %a{:href => "http://www.teamfortress.com/"} Team Fortress.

          %p So&hellip;, why does this site exists?
          %h1{:style => "text-align: center; border: none;"} no idea.
          %br
<basics/footer.haml>
