<basics/head.haml>
    %main
      .article-like-content
        %header
          %h1 Imprint
          %span I don't even need it
        .article-content
          %p
            It was deliberately not all disclosures made to protect myself
            against abuse and spam.
          %p I'm giving you this information in trust. Don't Abuse it.
          %p
            Additional informations can be retrieved by writing me, with a
            thought-out reason behind.

          %hr/

          %address
            Maximilian Scopp
            %br
            Mail: m.scopp32(at)gmail(dot)com

<basics/footer.haml>
